body {
    position: relative;
    padding: 0;
    margin: 0;
    position: relative;
    background-color: #D1D6FF;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.admin-banner {
    height: 5rem;
    padding-left: 1rem;
    width: 98.9vw;
    display: flex;
    align-items: center;
    background-color: white;
    overflow: hidden;
    box-shadow: 20px 6px 10px 0px rgba(0, 0, 0, 0.5);
}

.admin-banner p {
    margin: 0;
    font-size: 1.5rem;
    color: blue;
    font-weight: 600;
}

.logout-admin {
    height: 1.5rem;
    width: 4rem;
    background-color: gray;
    color: white;
    border-radius: 0.4rem;
    position: absolute;
    top: 2rem;
    right: 4rem;
    margin: 0;
    padding: 0;
    font-size: 0.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.5s;
}

.logout-admin:hover {
    color: black;
    transform: scale(1.1);
    background-color: rgba(128, 128, 128, 0.233);
}

.heading {
    margin-left: 1rem;
    color: gray;
}

.add-teacher {
    position: absolute;
    height: 3rem;
    width: 7rem;
    border-radius: 0.5rem;
    background-color: #74C0FC;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    right: 4rem;
    transition: all 0.5s;
    cursor: pointer;
}

.add-teacher:hover {
    transform: scale(1.05);
    background-color: #3b739d;
    color: white;
}

.table-container {
    width: 90%;
    margin: 30px auto;
    background: #fff;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
    margin-top: 5rem;
}

table {
    width: 100%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
}

thead {
    background: #f5f5f5;
}

th,
td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #eee;
    font-size: 14px;
}

tbody tr:hover {
    background: #f9f9f9;
}

.actions span,
.actions {
    cursor: pointer;
    margin-right: 1rem;
    margin-left: 1rem;
    font-size: 0.8rem;
}

.actions i {
    margin-left: 0.7rem;
    opacity: 0.6;
}
.actions i:hover{
    transform: scale(1.11);
    opacity: 1;
}

.teacher-details {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 20;
}

.teacher-details.hidden {
    display: none;
}

.form-box {
    background: #fff;
    padding: 25px;
    width: 350px;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.form-box h3 {
    margin-bottom: 15px;
}

.form-box label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

.form-box input {
    width: 100%;
    margin-top: 5px;
    padding: 8px;
    border-radius: 6px;
    border: 1px solid #bbb;
}

.buttons {
    display: flex;
    justify-content: end;
    gap: 10px;
    margin-top: 20px;
}

.buttons button {
    padding: 8px 18px;
    border: none;
    cursor: pointer;
    border-radius: 6px;
    font-weight: bold;
}

#cancel-add {
    background: #ccc;
}

#save-add {
    background: #007bff;
    color: white;
}

.blur-content.blur {
    filter: blur(4px);
    pointer-events: none;
}