body {
    position: relative;
    padding: 0;
    margin: 0;
    position: relative;
    background-color: #D1D6FF;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.teacher-banner{
    height: 5rem;
    padding-left: 1rem;
    width: 98.9vw;
    display: flex;
    align-items: center;
    background-color: white;
    overflow: hidden;
    box-shadow: 20px 6px 10px 0px rgba(0, 0, 0, 0.5);
}
.teacher-banner p{
    margin: 0;
    font-size: 1.5rem;
    color: blue;
    font-weight: 600;
}
.logout-teacher {
    height: 1.5rem;
    width: 4rem;
    background-color: gray;
    color: white;
    border-radius: 0.4rem;
    position: absolute;
    top: 2rem;
    right: 4rem;
    margin: 0;
    padding: 0;
    font-size: 0.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.5s;
}

.logout-teacher:hover {
    color: black;
    transform: scale(1.1);
    background-color: rgba(128, 128, 128, 0.233);
}
.heading{
    margin-left: 1rem;
}
.heading p{
    color: gray;
}
.teacher-welcome{
    color: black;
    font-size: 1.5rem;
    margin-left: 1rem;
}
.booking-cards{
    padding: 1rem;
    display: flex;
    justify-content: space-evenly;
    margin-top: 1.5rem;
}
.bcBox{
    height: 8rem;
    width: 17rem;
    border-radius: 0.9rem;
    background-color: white;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.6s;
    cursor: pointer;
}
.bcBox i{
    font-size: 2rem;
}
.bcBox p{
    font-size: 1.2rem;
}
.bcBox:hover{
    transform: scale(1.03);
    background-color: rgb(239, 238, 238);
}
.total:hover{
    border: 1.5px solid #3b82f6;
    color: #3b82f6;
}
.pending:hover{
    border: 1.5px solid rgb(210, 210, 35);
    color: rgb(210, 210, 35);
}
.approve:hover{
    border: 1.5px solid green;
    color: green;
}
.cancel:hover{
    border: 1.5px solid red;
    color: red;
}