body{
    position: relative;
    background-color: #D1D6FF;;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.home{
    position: absolute;
    right: 2rem;
    top: 2rem;
    display: flex;
    gap: 0.4rem;
    justify-content: center;
    align-items: center;
    height: 1.9rem;
    width: 6rem;
    background-color: white;
    color: black;
    border-radius: 0.7rem;
    cursor: pointer;
    transition: all 0.4s;
}
.home p{
    margin: 0;
    padding: 0;
}
.home:hover{
    transform: scale(1.05);
    background-color: rgba(128, 128, 128, 0.2);
}
.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-box {
    width: 30rem;
    height: auto;
    background: white;
    border-radius: 0.8rem;
    text-align: center;
    padding: 2rem;
}

.login-box:hover {
    border: 1px solid #3b82f6;
}

.login-box span {
    color: gray;
    cursor: pointer;
}

.login-box a {
    color: #3b82f6;
    cursor: pointer;
}

.label {
    display: block;
    text-align: left;
    margin: 1rem 0 0.3rem 0;
    font-size: 0.9rem;
    font-weight: 500;
}

input {
    width: 100%;
    padding: 0.7rem;
    border-radius: 0.5rem;
    border: none;
    background: #e5e5e5;
}

.forgot {
    display: block;
    text-align: right;
    margin-top: 1rem;
    font-size: 0.7rem;
    cursor: pointer;
    color: #3b82f6;
}

.forgot:hover {
    text-decoration: underline;
}

.login {
    height: 2.2rem;
    width: 100%;
    line-height: 2.2rem;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 0.8rem;
    color: white;
    background-color: black;
    border-radius: 0.8rem;
    cursor: pointer;
    transition: all 0.6s;
}

.login:hover {
    transform: scale(0.95);
}

.login-page {
    font-size: 0.8rem;
}

.login-page a:hover {
    text-decoration: underline;
}

.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.popup-box {
    background: white;
    padding: 25px 30px;
    border-radius: 10px;
    text-align: center;
    width: 320px;
    font-family: Arial, sans-serif;
}

.popup-box p {
    margin-bottom: 20px;
    font-size: 16px;
    color: black;
}

.popup-box button {
    background: black;
    color: white;
    padding: 8px 20px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.hidden {
    display: none;
}